<body>
  <app-navbar></app-navbar>
  <div style="margin-top: 50px;" *ngIf="loading else elseBlock" class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <ng-template #elseBlock>
    <div class="card text-center" id="cardJumbo">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link active" (click)="changeRepoType('add')">Add</a>
          </li>
        </ul>
      </div>
      <div class="card-body" id="addBody">
        <h5 class="card-title">Import RDF into existing repository</h5>
        <div class="form-group">
          <label for="repoNameList">Select a Repository</label>
          <select class="form-control" id="repoNameList" #t [(ngModel)]="repoName">
            <option value="{{repo}}" *ngFor="let repo of response">{{repo}}</option>
          </select>
        </div>
        <a (click)="addGraphIntoRepo()" class="btn btn-primary">Import</a>
      </div>

    </div>
  </ng-template>
  <app-error-message [message] = "message" [solution]="solution"></app-error-message>
</body>

<app-footer></app-footer>
