<div class="container-fluid customPage">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block sidebar">
      <div class="sidebar-sticky">
        <h4 class="customTitle">{{response[0].workbookName.substring(0,5)}}... worksheets</h4>
        <ul class="nav flex-column" *ngFor="let workbook of response">
          <li class="nav-item customChild textEditor border-bottom" *ngFor="let worksheets of workbook.worksheets">
            <a class="nav-link" (click)="changeCustom = worksheets.worksheetName">
              {{worksheets.worksheetName}}
            </a>
          </li>
          <li class="nav-item text-center" id="buttonConvert">
            <button *ngIf="!loading" (click)="convert()" class="buttons btn-lg btn-primary">Convert</button>
          </li>
          <div style="margin-top: 10px;" *ngIf="loading" class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </ul>

      </div>
    </nav>


    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <div class="" *ngFor="let workbook of response">
        <div *ngFor="let worksheet of workbook.worksheets">
          <div *ngIf="changeCustom === worksheet.worksheetName">
            <div class="border-bottom d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
              <span class="h1 textEditor">{{worksheet.worksheetName}}</span>
              <div class="btn-toolbar">
                <div class="btn-group mr-2" *ngIf="checkActive(worksheet.worksheetName) else elseBlock">
                  <button (click)="changeStatus('active', changeCustom)" class="buttons btn-primary btn-sm">Active</button>
                </div>
                <ng-template #elseBlock>
                  <button (click)="changeStatus('disabled', changeCustom)" class="btn-secondary btn-sm">Disabled</button>
                </ng-template>
              </div>
            </div>
            <div *ngIf="checkActive(worksheet.worksheetName)">
              <div class="border-bottom d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
                <h3 class="textEditor">Columns</h3>
                <div class="btn-toolbar">
                  <div class="btn-group mr-2">
                    <button (click)="modalCustomFunction('columns', changeCustom)" class="btn btn-sm btn-outline-secondary buttonCustom">Edit</button>
                  </div>
                </div>
              </div>
              <div class="border-bottom d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
                <h3 class="textEditor">Rows</h3>
                <div class="btn-toolbar">
                  <div class="btn-group mr-2">
                    <button (click)="modalCustomFunction('rows', changeCustom)" class="btn btn-sm btn-outline-secondary buttonCustom">Edit</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>

<app-error-message [message]="message" [solution]="solution"></app-error-message>
<div id="CustomModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content" >
    <span class="close" (click)="closeForm()">&times;</span>
      <fieldset>
        <legend class="text-center textEditor font-weight-bold">
          File Format
        </legend>

        <div class="form-group form-check" *ngFor="let item of modalCustom">
          <input type="checkbox" class="form-check-input"  [(ngModel)]="item.isChecked" value="{{item.value}}" id="{{item.value}}">
          <label class="form-check-label" for="{{item.value}}">{{item.value}}</label>
        </div>
        <button (click)="saveForm(changeCustom)" type="submit" class="buttons btn btn-primary">Submit</button>

      </fieldset>
  </div>
</div>
