<div *ngIf="!initializeColumnRow else elseBlock">
  <h1 class="text-center">{{response[0].workbookName}}</h1>
  <div class="jumbotron-fluid cardList">
    <div class="card" *ngFor="let worksheets of this.worksheetTemp">
      <div class="card-header">
        {{worksheets.worksheetName}}
      </div>
      <div class="card-body">
        <h5 class="card-title">Add row and column header</h5>
        <span class="spanEdit">ColumnHeader: {{worksheets.columnHeader}}</span>
        <span *ngIf="worksheets.columnsRowsFrom == null else elseRowHeader" class="spanEdit">RowHeader:  {{worksheets.rowHeader}}</span>
        <ng-template #elseRowHeader>
          <span class="spanEdit">RowHeader:  {{worksheets.columnsRowsFrom}}</span>
        </ng-template>
        <a (click)="openForm(worksheets.worksheetName, 'CustomModal')" class="btn btn-primary" id="buttonRC">Edit</a>
      </div>
    </div>
  </div>
  <div class="jumbotron-fluid text-center">
    <a (click)="initializeColumnRowHeader()" class="btn btn-primary" id="buttonCustom">Convert</a>
  </div>
</div>

<ng-template #elseBlock>
  <div class="container-fluid customPage">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block sidebar">
        <div class="sidebar-sticky">
          <h4 class="customTitle">{{response[0].workbookName.substring(0,5)}}... worksheets</h4>
          <ul class="nav flex-column" *ngFor="let workbook of response">
            <li class="nav-item customChild textEditor border-bottom" *ngFor="let worksheets of workbook.worksheets">
              <a class="nav-link" (click)="worksheetsNameTemp = worksheets.worksheetName; getTable(worksheetsNameTemp)">
                {{worksheets.worksheetName}}
              </a>
            </li>
            <li class="nav-item text-center" id="buttonConvert">
              <button (click)="Convert()" class="btn-lg btn-primary">Convert</button>
            </li>
          </ul>

        </div>
      </nav>


      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <div class="" *ngFor="let workbook of response">
          <div *ngFor="let worksheet of workbook.worksheets">
            <div *ngIf="this.worksheetsNameTemp === worksheet.worksheetName">
              <div class="border-bottom d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
                <span class="h1 textEditor">{{worksheet.worksheetName}}</span>
                <div class="btn-toolbar">
                  <div class="btn-group mr-2" *ngIf="checkActive(worksheet.worksheetName) else elseBlock">
                    <button (click)="changeStatus('active', this.worksheetsNameTemp)" class="btn-primary btn-sm">Active</button>
                  </div>
                  <ng-template #elseBlock>
                    <button (click)="changeStatus('disabled', this.worksheetsNameTemp)" class="btn-secondary btn-sm">Disabled</button>
                  </ng-template>
                </div>
              </div>
              <div *ngIf="checkActive(worksheet.worksheetName)">
                <div class="border-bottom d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
                  <h3 class="textEditor">Table</h3>
                  <div class="btn-toolbar">
                    <div class="btn-group mr-2">
                      <button (click)="openForm(this.worksheetsNameTemp, 'CustomModalAddTable')" class="btn btn-sm btn-outline-secondary buttonCustom">Add Table</button>
                    </div>
                  </div>
                </div>
                <div *ngFor="let table of tableTemp" class="border-bottom d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
                  <h5 class="textEditor">{{table.name}}</h5>
                  <div class="btn-toolbar">
                    <div class="btn-group mr-2">
                      <button (click)="modalCustomFunction(table.name,'columns', this.worksheetsNameTemp)" class="btn btn-sm btn-outline-secondary buttonCustom">Edit Columns</button>
                      <button (click)="modalCustomFunction(table.name,'rows', this.worksheetsNameTemp)" class="btn btn-sm btn-outline-secondary buttonCustom">Edit Rows</button>
                      <button (click)="RemoveTable(table.name, this.worksheetsNameTemp)" class="btn btn-sm btn-outline-secondary buttonCustom">Remove</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</ng-template>

<div id="CustomModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content" >
    <span class="close" (click)="closeForm('CustomModal')">&times;</span>
    <fieldset>
      <legend class="text-center textEditor font-weight-bold">
        Add Row & Column Header
      </legend>
      <div class="form-group">
        <label for="ColumnHeader">ColumnHeader</label>
        <input type="text" class="form-control" id="ColumnHeader" placeholder="" [(ngModel)]="columnHeaderTemp">
      </div>

      <div class="form-group">
        <label for="SelectOptionFileFormat">Select row header from another worksheet</label>
        <select class="form-control" id="SelectOptionFileFormat" #s (change)="dissapearingRowInput(s.value)">
          <option value=""></option>
          <option *ngFor="let worksheet of getWorksheetsWithoutTheActualOne()" value="{{worksheet.worksheetName}}">{{worksheet.worksheetName}}</option>
        </select>
      </div>

      <div class="form-group" id="rowHeaderInput">
        <label for="RowHeader">Rowheader</label>
        <input type="text" class="form-control" id="RowHeader" placeholder="" [(ngModel)]="rowHeaderTemp">
      </div>
      <button (click)="saveForm(worksheetsNameTemp, s.value)" type="submit" class="btn btn-primary">Submit</button>

    </fieldset>
  </div>
</div>

<div id="CustomModalAddTable" class="modal">

  <!-- Modal content -->
  <div class="modal-content" >
    <span class="close" (click)="closeForm('CustomModalAddTable')">&times;</span>
    <fieldset>
      <legend class="text-center textEditor font-weight-bold">
        Add Table
      </legend>
      <div class="form-group">
        <label for="TableName">TableName</label>
        <input type="text" class="form-control" id="TableName" placeholder="" [(ngModel)]="tableNameTemp">
      </div>
      <button (click)="saveTable(worksheetsNameTemp)" type="submit" class="btn btn-primary">Submit</button>

    </fieldset>
  </div>
</div>

<div id="CustomModalRowColumn" class="modal">

  <!-- Modal content -->
  <div class="modal-content" >
    <span class="close" (click)="closeForm('CustomModalRowColumn')">&times;</span>
    <fieldset>
      <legend class="text-center textEditor font-weight-bold">
        Edit Row/Column Header
      </legend>

      <div class="form-group form-check" *ngFor="let item of modalCustom">
        <input type="checkbox" class="form-check-input"  [(ngModel)]="item.isChecked" value="{{item.value}}" id="{{item.value}}">
        <label class="form-check-label" for="{{item.value}}">{{item.value}}</label>
      </div>
      <button (click)="saveColumnRow(type, worksheetsNameTemp, tableNameTemp)" type="submit" class="btn btn-primary">Submit</button>

    </fieldset>
  </div>
</div>
